<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="GUI/static/styles/form_fade_away.css">
    <title>Document</title>
</head>
<body>

<div id="createChatForm" class="hidden fixed inset-0 flex flex-col justify-center items-center">
    <div class="bg-white p-6 rounded-lg shadow-xl flex flex-col items-center">
        <h2 class="text-2xl font-bold pb-4">Fill in the details</h2>
        <label class="block text-gray-700">Enter chat's title</label>
        <input type="text" placeholder="title" name="title" class="w-full p-2 border border-gray-300 rounded-lg mt-2">
        <label class="block text-gray-700">Add other users (Optional)</label>
        <div id="usersList" class="relative">
            <div id="selectedUsers" class="flex flex-wrap gap-2 mb-2"></div>
            <input type="text" id="searchUsers" placeholder="Search users..." class="w-full p-2 border border-gray-300 rounded-lg mt-2">
            <div id="usersDropdown" class="hidden absolute bg-white border rounded shadow-lg max-h-48 overflow-y-auto w-full z-10">
                <!-- Список пользователей будет здесь -->
            </div>
        </div>
        <div class="flex flex-row gap-7">
        <button class="mt-4 bg-blue-600 text-white px-4 py-2 rounded focus:bg-blue-700 transition duration-200"
                id="Create">Create chat
        </button>
        <button class="mt-4 bg-blue-600 text-white px-4 py-2 rounded focus:bg-blue-700 transition duration-200"
                id="closeCreateForm">Close
        </button>
        </div>
    </div>
</div>
<script>
document.getElementById("closeCreateForm").addEventListener("click", () => {
    createChatForm.style.opacity = '0';
    createChatForm.style.transform = 'scale(0.1)';
    darkenBg.style.opacity = '0';
    setTimeout(() => {
        createChatForm.classList.add('hidden');
        darkenBg.classList.add('hidden');
    }, 400);
});

</script>
</body>
</html>