<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="hidden " id="findFriendsForm"></div>
<div class="hidden fixed inset-0 flex items-center justify-center" id="profileForm">
    <div class="bg-white p-6 rounded-lg shadow-xl flex flex-col items-center">
        <h2 class="text-2xl font-bold pb-4">User information</h2>
        <p class="pb-4 text-xl">Nickname: {{ nickname }}</p>
        <p class="pb-4 text-xl">Full name: {{ first_name }} {{ last_name }}</p>
        <p class="pb-4 text-xl">Phone number: {{ phone }}</p>
        <div class="flex flex-row gap-7">
            <button class="mt-4 bg-blue-600 text-white px-3 py-1 rounded focus:bg-blue-700 transition duration-200"
                    id="closeForm">Close
            </button>
            <button class="mt-4 bg-red-700 text-white px-3 py-1 rounded  transition duration-200"
                    id="logOut">Exit
            </button>
        </div>
    </div>
</div>
</body>
</html>